<div class="grid grid-cols-12 auto-rows-auto bg-white gap-1">
  <div class="col-start-1 col-end-5 row-start-1 row-end-2 overflow-y-scroll overflow-y-visible overflow-x-hidden w-full h-full">
    <app-table-bar class="cell-table overflow-auto overflow-y-scroll overflow-y-visible"
      [events]="eventsSubject.asObservable()"
      (resetFormRequest)="resetForm($event)"
      (editRequest)="populate($event)"
      (deleteRequest)="db_delete($event)"
      [currentUrls]="urls"
    >
    </app-table-bar>
  </div>

  <div class="col-start-5 col-end-13 row-start-1 row-end-2">
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="dane usługi">
        <!-- formularz start -->
        <form class="flex flex-col py-2" [formGroup]="myFormModel">
          <input formControlName="id" name="id" type="hidden">

          <mat-slide-toggle class="py-2" formControlName="isActive">pozycja aktywne</mat-slide-toggle>

          <mat-form-field appearance="fill">
            <mat-label>nazwa usługi</mat-label>
            <input formControlName="name" name="name" matInput type="text">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearField($event, 'name', myFormModel)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>podtytuł</mat-label>
            <input formControlName="subtitle" name="subtitle" matInput type="text">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearField($event, 'subtitle', myFormModel)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <textarea formControlName="desc" name="desc" placeholder="opis" matInput type="text" rows="6"></textarea>
          </mat-form-field>

          <mat-form-field>
            <textarea formControlName="priceList" name="priceList" placeholder="cennik" matInput type="text" rows="6"></textarea>
          </mat-form-field>

          <section class="flex justify-center">
            <button (click)="ngOnSubmit($event)" mat-raised-button color="primary">zapisz</button>
          </section>
        </form>
        <!-- formularz stop -->
      </mat-tab>
      <ng-container *ngIf="myFormModel.controls['id'].value as ID">
        <mat-tab label="galeria">
          <app-upload [uniqID]="ID" [useSchema]="this.DBschema"></app-upload>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
