<ul>
  <li><a [routerLink]="['/home']" href="">home</a></li>
  <li><a [routerLink]="['/myservices']" href="">usłógi</a></li>
  <li><a [routerLink]="['/about']" href="">o mnie</a></li>
  <li><a [routerLink]="['/faq']" href=""></a>faq</li>
  <li><a [routerLink]="['/portfolio']" href="">portfolio</a></li>
  <li><a [routerLink]="['/contact']" href="">kontakt</a></li>
  <li><a [routerLink]="['/projects']" href="">projekty</a></li>
</ul>
<article class="flex flex-col h-full max-h-min flex-grow items-stretch">
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
  <footer class="flex-shrink-0">
stopka
  </footer>
</article>
