<div class="container m-auto grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12">
  <div class="col-start-1 col-end-5 md:col-start-1 md:col-end-9 lg:col-start-1 lg:col-end-13">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at aut doloribus dolorum earum et expedita, facere incidunt, itaque libero nemo
    officia optio qui quod sint ut vitae. Cumque sit, voluptatibus? Ad magnam necessitatibus tempora ullam voluptatum?
    Cum distinctio ipsam numquam ratione vel! Doloribus, laboriosam.
  </div>
</div>
