
<div class="main-grid">
  <div class="py-6 col-span-full row-start-1 row-end-2 text-center">
    <span class="text-layout-color-light0 text-4xl">Moje usługi</span>
  </div>
  <div class="gap-0 w-full col-span-full row-start-2 row-end-3  columns-1 md:columns-2  lg:columns-3">
    <ng-container *ngIf="!showDetails && !id; else tplShowDetails">
      <ng-container *ngIf="(myservices$ | async) as data">
        <a *ngFor="let file of data; index as i"  href="javascript:void(0)">
          <figure class="relative p-1.5">
            <img class="aspect-16/9 md:aspect-square brightness-50 object-cover object-center w-full block" src="./assets/img/upload/{{ file._id }}/{{ file.coverPhoto }}" alt=""/>
            <figcaption class="overflow-hidden z-10 p-6 absolute top-0 left-0 flex w-full h-full">
              <div class="flex flex-col space-y-3">
                <span class="p-1 stroke text-7xl font-PlayfairDisplay-VariableFont_wght font-bold uppercase">0{{ i+1 }}</span>
                <span class="text-xl text-white font-PlayfairDisplay-VariableFont_wght capitalize">{{ file.name }}</span>
                <span class="text-sm text-softer-white4 font-SourceSansPro-Regular leading-6">{{ (file.desc.length>6)? (file.desc | slice:0:130)+'...':(file.desc) }} </span>
              </div>
            </figcaption>
          </figure>
        </a>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #tplShowDetails>

</ng-template>
