<div class="main-grid">
  <div class="col-span-full row-start-1 row-end-2 md:col-start-1 md:col-end-4 xl:col-start-1 xl:col-end-7 overflow-hidden">
    <img
      class="max-w-fit w-full h-full min-h-full min-w-full object-center object-cover"
      src="./assets/img/static/about.jpg"
      alt=""/>
  </div>

  <div class="col-span-full row-start-2 row-end-3 md:col-start-4 md:col-end-9 md:row-start-1 md:row-end-2 xl:col-start-7 xl:col-end-13 flex flex-col flex-nowrap gap-5 h-full w-full">
    <!-- text -->
    <p class="text-left text-layout-color-light0 text-2xl">Welcome to Pozo</p>
    <p class="text-left text-softer-white4 text-md font-SourceSansPro-Regular">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias atque
      eligendi eos eum hic in ipsum laborum magni, minus molestiae omnis placeat
      quasi rem sapiente tempore voluptate voluptatum? Adipisci deleniti neque
      temporibus voluptatem.
    </p>
    <p class="py-3 font-April-June text-6xl text-color-light3">
      Kamil Kaczynski
    </p>
    <table class="max-w-fit">
      <tr>
        <th class="text-left text-layout-color-light0 text-sm font-SourceSansPro-SemiBold uppercase">
          whats-up:
        </th>
        <td class="text-left text-softer-white4 text-sm">
          &nbsp;Lorem ipsum dolor.
        </td>
      </tr>
      <tr>
        <th class="text-left text-layout-color-light0 text-sm font-SourceSansPro-SemiBold uppercase">
          e-mail:
        </th>
        <td class="text-left text-softer-white4 text-sm">
          &nbsp;Lorem ipsum dolor.
        </td>
      </tr>
      <tr>
        <th class="text-left text-layout-color-light0 text-sm font-SourceSansPro-SemiBold uppercase">
          skype:
        </th>
        <td class="text-left text-softer-white4 text-sm">
          &nbsp;Lorem ipsum dolor.
        </td>
      </tr>
    </table>
    <!-- text -->
  </div>

  <div class="col-span-full row-start-3 row-end-4 md:row-start-2 md:row-end-3">
    <p class="text-2xl text-center md:text-left text-layout-color-light0">
      Co mam do zaoferowania?
    </p>
    <p class="text-left text-softer-white4 text-md font-SourceSansPro-Regular">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
      ipsum iste odit, quae reprehenderit.
    </p>
  </div>

  <div
    class="col-span-full row-start-4 row-end-5 md:row-start-3 md:row-end-4 flex flex-wrap gap-2 justify-center w-full"
  >
    <!-- cards -->
    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/accessibility.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >dostępność</span>
      <span class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>

    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/prints.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >wydruki</span
      >
      <span
        class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>

    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/skills.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >umiejętności</span
      >
      <span
        class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>

    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/equipment.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >profesjonalny sprzęt</span
      >
      <span
        class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>

    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/gallery.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >galeria online</span
      >
      <span
        class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>

    <div
      class="space-y-1 p-3 basis-full sm:basis-72 shadow-lg items-center rounded bg-orange-50 border border-white border-solid flex flex-col"
    >
      <div class="shrink-0">
        <img
          class="svg-ico"
          src="./assets/ico/quality.svg"
          alt="accessibility"
        />
      </div>
      <span
        class="text-md text-color-light2 uppercase font-SourceSansPro-SemiBold"
        >najwyższa jakość</span
      >
      <span
        class="leading-5 text-sm font-SourceSansPro-Regular text-layout-color-light0 truncate whitespace-pre-line"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos
        ipsum iste odit, quae reprehenderit.
      </span>
    </div>
    <!-- cards -->
  </div>
</div>
