@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  li.admin {
    @apply text-softer-white4 border-l-2 border-solid;

    &.is-active {
      @apply text-layout-color-light1  border-l-2 border-solid border-layout-color-light1 bg-white;
    }
  }

  .navIcon {
    @apply w-6 h-auto fill-current fill-layout-color-light0 text-layout-color-light0 md:hidden;
  }
  .navText {
    @apply hidden md:block font-Montserrat-VariableFont_wght text-softer-white4 before:bg-layout-color-light0;
  }
  .main-grid {
    @apply grid gap-4 auto-rows-auto grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
  }
}
@layer base {
  @font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sacramento-Regular';
    src: url('./assets/fonts/Sacramento-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans-VariableFont';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-Light';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
      format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'April June';
    src: url('./assets/fonts/April June.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PlayfairDisplay-VariableFont_wght';
    src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #191919;
}
